@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #F7F8FA;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #4D5E80;
}

h4 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #6B7A99;
}

h5 {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #ADB8CC;
}

.round-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.main {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-small {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-small { 
    height: 24px;
    width: 24px;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.cont-center {
    justify-content: center;
    text-align: center;
}

.cont-between {
    justify-content: space-between;
}

.gap-40 {
    gap: 40px
}

.gap-35 {
    gap: 35px
}

.gap-30 {
    gap: 30px
}

.gap-20 {
    gap: 20px
}

.gap-15 {
    gap: 10px
}

.gap-10 {
    gap: 10px
}

.border-right {
    border-right: 2px solid #EDEFF2;
}

.border-bottom {
    border-bottom: 2px solid #EDEFF2;
}

.round-button-border {
    border: 2px solid #EDEFF2;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
}

.align-items_center {
    align-items: center;
}

.round-button-small {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

[v-cloak] {
    display: none;
}