.main-right_elem {
    padding: 30px 30px 30px 0;
}

.right_menu-inside {
    display: flex;
}

.left-menu-top {
    padding: 0 0 30px 0;
}

.left-menu-top .list {
    font-size: 13px;
    line-height: 25px;
    color: #6B7A99;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-menu-top .list .list-head {
    border-radius: 30px;
    border: 2px solid #F5F6F7;
    padding: 10px 20px;
}

.left-menu-top .list .list-elem {
    padding: 0 20px;
}

.left-menu-top .list .list-end {
    padding: 0 20px;
    padding-top: 10px;
}


.list-numbers {
    font-weight: 900;
    color: #7D8FB3;
}

.head-elem {
    padding: 30px 20px 15px 20px;
}

.head-elem-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 45px 10px 20px;
    gap: 10px;
    background-color: #FF6633;
}

.head-elem-button .text {
    line-height: 20px;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 145px;
}

.left-menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0 40px 40px;

    font-size: 13px;
    line-height: 25px;
    color: #6B7A99; 
}

.right_menu-inside {
    background-color: white;
    border-radius: 15px;
}

.images-height-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 20px 20px;
}

.height-menu-elem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-button-border {
    border-radius: 100px 0 0 100px;
    border: 2px solid #EDEFF2;
    border-right: 0;
    padding: 6px 5px 6px 10px;
}

.right-button-border {
    border-radius: 0 100px 100px 0;
    border: 2px solid #EDEFF2;
    padding: 6px 10px 6px 5px;
}

.left-button-border:hover, .left-button-border:active, 
.right-button-border:hover, .right-button-border:active {
    cursor: pointer;
}

.input-search {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #F5F6F7;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px
}

.input-text-search {
    border: 0;
    line-height: 20px;
    font-size: 10px;
    font-weight: 900;
    color:#7D8FB3;
    font-family: 'Roboto', sans-serif;
}

.input-text-search::-webkit-input-placeholder {
    font-size: 10px;
    font-weight: 900;
    color:#7D8FB3;
}

.input-text-search:focus {
    outline: none;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px;
    gap: 30px;
}

.images-container-grid {
    padding: 45px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.images-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.images-item-box {
    border-radius: 10px;
    border: 2px solid #F5F6F7;
    padding: 3px;
    box-sizing: border-box;
    display:flex;
    align-items:center;
    justify-content: center;
}

.images-item-box:hover, .images-item-box:active  {
    cursor: pointer;
    border: 2px solid #FF6633;
}

.images-item-image {
    width: 150px;
    height: 110px;
    border-radius: 5px;
}

.images-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.images-item-info .header {
    line-height: 20px;
    font-size: 12px;
    color: #6B7A99;
    text-align: center;
}

.images-item-info .text {
    font-weight: 900;
    line-height: 20px;
    font-size: 10px;
    color: #7D8FB3;
    text-align: center;
}