<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>mkskom-test-task</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="header-elem">
                <div class="round_button"><img src="./images/sticks.png"></div>
                <h4>Constructor</h4>
            </div>
            <div class="header-elem header-menu">
                <span>Dashboard</span>
                <span>About Us</span>
                <span>News</span>
                <span>User Policy</span>
                <span>Contacts</span>
                <div class="header-menu-img"><img src="./images/menu.png"></div>
            </div>
            <div class="header-elem">
                <form class="form" method="get" @submit.prevent="getImages(1)">
                    <img src="./images/search.png">
                    <input type="text" v-model="" placeholder="Search Transactions and Documents">
                        
                    <button type="submit" class="submit">
                        <img class="submit_img" src="./images/submit.png">
                    </button>
                </form>
            </div>
            <div class="header-elem">
                <img src="" alt="" srcset="">
                <span>Clayton Santos</span>
                <div class="round_button"><img src="./images/bell.png"></div>
                <div class="round_button"><img src="./images/close.png"></div>
            </div>
            
        </header>
        <div class="main">
            <div class="main-left_elem">
                
            </div>
            <div class="main-medium_elem">
                
            </div>
            <div class="main-right_elem">
                <div class="right_menu-inside">
                    <div class="images-left_menu"></div>
                    <div>
                        <div class="images-height_menu"></div>
                        <div class="images-container">
                            <div v-for="image in images" class="images-item">
                                <div class="images-item-box">
                                    <img class="images-item-image" :src="image.url">
                                </div>
                                <div class="images-item-info"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="scripts.js"></script>
</body>
</html>